* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('./images/wizard.jpg');
   background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cormorant-infant-uniquifier {
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.app {
  width: 100%;
  max-width: 650px;
  padding: 20px;
}

.container {
  background: rgb(236, 240, 240);
  border-radius: 10px;
  padding: 25px 30px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #0d0359;
  margin-bottom: 30px;
  font-size: 2.7rem;
  font-family: "Cormorant Infant", sans-serif;
}

.nickname-display {
  background: #eaf0f0;
  border: 2px dashed #b2bbc3;
  border-radius: 10px;
  padding: 25px;
  margin: 25px 0;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.nickname-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #161a1e;
  word-break: break-all;
  text-align: center;
  font-family: Georgia, serif;
}

.copy-btn {
  background: #e1ad53;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: 'Cormorant Infant';
  font-weight: bold;
  transition: all 0.3s ease;
  min-width: 150px;
}

.copy-btn:hover {
  background: #d19f48;
  transform: translateY(-2px);
}

.copy-btn.copied {
  background: #38b76d;
}

.generate-btn {
  background: #5545ce;
  color: rgb(246, 246, 249);
  border: none;
  padding: 15px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: 'Cormorant Infant';
  transition: all 0.3s ease;
}

.generate-btn:hover {
  transform: translateY(-3px);
  background: #5345bc;
}


@media (max-width: 480px) {
  .container {
    padding: 30px 20px;
  }
  
  h1 {
    font-size: 1.6rem;
  }
  
  .nickname-text {
    font-size: 1.4rem;
  }
  
  .generate-btn {
    padding: 12px 25px;
    font-size: 1.3rem;
  }

  .copy-btn {
    font-size: 1rem;
  }
}